<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @aula.data_aul %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @aula.horario_aul %>
</p>
<p>
  <strong>Compareceu? </strong>
  <%= @aula.compareceu %>
</p>


<%= link_to 'Edit', edit_subject_aula_path(@subject,@aula) %> |
<%= link_to 'Back', subject_aulas_path(@subject) %>
