<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @aula.data_aul.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @aula.horario_aul.strftime("%I:%M") %>
</p>
<p>
  <strong>Compareceu? </strong>
  <%= @aula.compareceu %>
</p>



<%= link_to 'Editar', edit_subject_aula_path(@subject,@aula) %> |
<%= link_to 'Voltar', subject_aulas_path(@subject) %>

