
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div> <% if current_user %>
            <%= link_to "Home", root_path, class:"navbar-brand" %>
            <%= link_to "Calendário", href="/calendario", class:"navbar-brand" %> 
            <%= link_to "Grades", user_grades_path(current_user), class:"navbar-brand" %> 
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>  
          <% else %>
            <%= link_to "Sign Up", new_registration_path(resource) %>
            <%= link_to "Log In", new_session_path(resource) %>
          <% end %>

    </div>


    
</nav>