<p id="notice"><%= notice %></p>

<h1>Atividades</h1>
<% if !@subject.atividades.empty? %>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th>Data at</th>
      <th>Horario at</th>
      <th>Tipo</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.data_at.strftime("%m/%d/%Y") %></td>
        <td><%= atividade.horario_at.strftime("%H:%M") %></td>
        <td><%= atividade.tipo %></td>
        <td><%= atividade.comentarios %></td>
        <td><%= link_to 'Detalhes', subject_atividade_path(@subject,atividade) %></td>
        <td><%= link_to 'Editar', edit_subject_atividade_path(@subject,atividade)%></td>
        <td><%= link_to 'Deletar', subject_atividade_path(@subject,atividade), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Você não possui atividades criadas!</p>
<% end %>
<br>

<%= link_to 'Criar atividade', new_subject_atividade_path(@subject), class:"btn btn-info" %>
<%= link_to 'Voltar', grade_subjects_path(@subject.grade), class: "btn btn-dark" %>
