<p id="notice"><%= notice %></p>

<p>
  <strong>Data at:</strong>
  <%= @atividade.data_at %>
</p>

<p>
  <strong>Horario at:</strong>
  <%= @atividade.horario_at %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @atividade.tipo %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @atividade.comentarios %>
</p>

<%= link_to 'Editar', edit_subject_atividade_path(@subject,@atividade) %> |
<%= link_to 'Voltar', subject_atividades_path(@subject) %>
