<p id="notice"><%= notice %></p>

<h1>Subjects</h1>
<% if !@grade.subjects.empty? %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th>Creditos</th>
      <th>Presenca</th>
      <th>Dia semanas</th>
      <th>Quinzenal?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.nome %></td>
        <td><%= subject.codigo %></td>
        <td><%= subject.creditos %></td>
        <td><%= calc_presenca(subject) %></td>
        <td><%= func_dias_semanas(subject) %> </td>
        <td><%= subject.quinzenal %></td>
        <td><%= link_to "Aulas", subject_aulas_path(subject) %> </td>
        <td><%= link_to "Atividades", subject_atividades_path(subject) %> </td>
        <td><%= link_to 'Show', grade_subject_path(@grade,subject) %></td>
        <td><%= link_to 'Edit', edit_grade_subject_path(@grade,subject) %></td>
        <td><%= link_to 'Destroy', grade_subject_path(@grade,subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Você não possui materias criadas!</p>
<% end %>
<br>
<%= link_to 'New Subject', new_grade_subject_path(@grade) %> |
<%= link_to 'Back', user_grades_path(current_user)  %>
